{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Ремонт автомобилей</title>
</head>
<body>

  <nav style="padding: 10px;">
    {% if user.is_authenticated %}
      <a href="/send/">Создать заявку</a> |
      <a href="/my_requests/">Мои заявки</a> |
      {% if user.username == "admin" %}
        <a href="/admin_panel/">Админ-панель</a> |
      {% endif %}
      <a href="/logout/">Выйти</a>
    {% else %}
      <a href="/register/">Регистрация</a> |
      <a href="/login/">Вход</a>
    {% endif %}
  </nav>

  <div style="padding: 20px;">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
